#divBusca{
    background-color:rgb(255, 51, 0);
    border:solid 1px;
    border-radius:15px;
    width:300px;
  }
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:20px;
    border:none;
    height:32px;
    width:260px;
   }

  #elemento{
    position: relative;
    right: 500px;
  }

